backend:
  name: git-gateway
  branch: main

media_folder: "assets/uploads"
public_folder: "/assets/uploads"

collections:
  - name: "site"
    label: "Site Content"
    files:
      - file: "content/site.json"
        label: "Main Content"
        name: "main"
        fields:
          - { label: "Site Title", name: "siteTitle", widget: "string" }
          - { label: "Hero Text", name: "heroText", widget: "string" }
          - { label: "Button Text", name: "buttonText", widget: "string" }
